.labels{
    border: 1px solid rgb(0, 139, 128);
    padding: 5px 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7em;
    padding: 20px;
}
#value1{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 0, 0);
    padding: 5px 10px;
}
#value2{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 0, 0);
    padding: 5px 10px;
}
#value3{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(243, 0, 0);
    padding: 5px 10px;
}
.button{
    display: block;
    margin:0 auto ;
    height: auto;
    width: 200px;
    font-size: 1.5em;
}